.gh {
  border-radius: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 500px;
  height: 700px;

  margin: 250px;
}

.sub {
  align-items: center;

  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10x;
  margin: 10px;
}

.subdi {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2x;
  margin: 25px;
}

p {
  color: rgb(179, 175, 175);
}
